/**
 * Konexio blue: #0475ba
 */
@font-face {
  font-family: Circular;
  src: url('../fonts/Airbnb_Cereal-Bold.woff2') format('woff2'),
    url('../fonts/Airbnb_Cereal-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('../fonts/Airbnb_Cereal-Medium.woff2') format('woff2'),
    url('../fonts/Airbnb_Cereal-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('../fonts/Airbnb_Cereal-Book.woff2') format('woff2'),
    url('../fonts/Airbnb_Cereal-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Circular, serif, Arial, sans-serif;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

section.bg-blue {
  background-color: #0475ba;
  color: #fff;
}

/**
 *
 * NAVBAR
 *
 */
nav.navbar a {
  color: #fff;
}
nav.navbar {
  background-color: #0475ba;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

/**
 *
 * HEADER
 *
 */
section.header {
  background-image: url(../img/header.jpg);
  background-position: center 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000;
  padding-top: 70px;
  min-height: 700px;

  color: #fff;
}

section.header .container {
  padding-top: 160px;
}

section.header p {
  font-size: 2em;
}

section.header form {
  background: #fff;
  color: #212529;
  padding: 40px 30px;
  border-radius: 10px;
}

/**
 *
 * STUDENTS / VOLUNTEERS
 *
 */
section.students,
section.volunteers {
  min-height: 400px;
}

section.students p,
section.volunteers p {
  padding-top: 100px;
}

section.students {
  background-color: #0475ba;
  /* background-image: url(../img/student.jpg); */
}
section.volunteers {
  /* background-image: url(../img/volunteers.jpg); */
}

section.students img,
section.volunteers img {
  border-radius: 5px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

/**
 *
 * GALLERY
 *
 */
section.gallery {
  background: #0475ba;
  margin: 0 auto;
}
section.gallery img {
  width: 400px;
  height: 300px;
}
section.gallery .swiper-slide {
  /* margin-left: 200px; */
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  background: white;
}

/**
 *
 * TEAM
 *
 */
section.team {
  margin-top: 70px;
  margin-bottom: 70px;
}
.team-member {
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50px !important;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.team-member h4 {
  margin-bottom: 15px;
}

.team-member h6 {
  color: #0475ba;
}

/**
 *
 * CONTACT
 *
 */

section.contact .input-group {
  margin-bottom: 10px;
  border-radius: 30px;
}

section.contact .input-group-text {
  color: #0475ba;
  background-color: #fff;
}

section.contact .textarea-container {
  margin: 40px 0;
}

section.contact textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0;
}

section.contact textarea.form-control:focus,
section.contact textarea.form-control:active {
  border-left: none;
  border-top: none;
  border-right: none;
}

section.contact .form-control:focus {
  border: 1px solid #0475ba;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

section.contact .send-button a.btn {
  color: #fff;
  background-color: #0475ba;
  border-color: #0475ba;
}

section.contact .send-button a.btn:hover {
  background-color: #00619c;
  border-color: #00619c;
}

/**
 *
 * FOOTER
 *
 */
footer {
  background-color: #0475ba;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer h6 {
  margin-bottom: 20px;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}
